body{
  background-color: #333;
  #carousel{
    background-color: #555;
    width: 800px;
    height: 600px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .slide{
      border: 1px dotted red;
      width: inherit;
      height: inherit;
      .arrow_left{
        width: 20px;
        height: 20px;
        background-color: green;
        position: absolute;
        z-index: 999;
      }
      .arrow_right{
        width: 20px;
        height: 20px;
        background-color: green;
        position: absolute;
        z-index: 999;
        right: 0;
      }
      .ads{
        width: 150px;
        height: 600px;
        background-color: red;
        position: absolute;
        left: -150px;
      }
      .box{
        width: 100px;
        height: 100px;
        float: left;
      }
      h1.title{
        position: absolute;
        z-index: 100;
        left: 0;
        bottom: 5px;
        background-color: rgba(50,50,50,0.5);
        color: white;
        padding: 20px 100px;
      }
    }
  }
}
